* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font-family: "Lato", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

.hero-wrapper {
  width: 100%;
  height: 500px;
  background-color: #000000; }
  .hero-wrapper .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/hero.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/hero.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/hero.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .hero-wrapper .hero .call-out {
      margin-top: 70px;
      width: 416px;
      min-height: 200px;
      text-align: center; }
      .hero-wrapper .hero .call-out h1 {
        color: #ffffff;
        margin-bottom: 30px;
        font-size: 60px;
        font-weight: normal;
        font-family: "Roboto", sans-serif;
        text-transform: lowercase; }
      .hero-wrapper .hero .call-out p {
        color: #ffffff;
        margin-bottom: 40px;
        font-style: italic;
        font-size: 20px;
        font-family: "Lato", sans-serif; }
      .hero-wrapper .hero .call-out .site-button {
        padding: 10px 40px;
        background-color: #79addc;
        text-decoration: none;
        font-size: 15px;
        color: #ffffff;
        text-transform: uppercase; }

@media (max-width: 1280px) {
  .hero-wrapper .hero {
    width: 100%; } }

nav {
  position: relative;
  width: 80%;
  height: 92px;
  border-bottom: 2px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  nav .logo {
    width: 92px;
    height: 42px;
    font-size: 20px;
    color: #ffffff;
    border: 2px solid #ffffff;
    text-align: left;
    line-height: 60px; }
  nav .links-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  nav .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: lowercase; }
    nav .links a {
      color: #ffffff;
      font-size: 15px;
      text-decoration: none; }
    nav .links span {
      margin: 0 10px;
      color: #79addc;
      font-size: 20px; }
  nav .navicon {
    display: none;
    color: #ffffff;
    font-size: 120%;
    cursor: pointer; }

@media (max-width: 800px) {
  nav .links-wrapper {
    margin-top: 250px;
    padding-top: 20px; }
    nav .links-wrapper:hover > .links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    nav .links-wrapper .links {
      display: none;
      background-color: rgba(0, 0, 0, 0.8);
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 200px;
      margin-right: -30px;
      cursor: pointer; }
      nav .links-wrapper .links span {
        visibility: hidden; }
    nav .links-wrapper .navicon {
      display: block;
      margin-top: -250px; } }

.tours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -45px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px; }
  .tours .israel {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 236px;
    height: 304px;
    margin: 0 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/tour/tour-01.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tour/tour-01.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tour/tour-01.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tour/tour-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .tours .usa {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 236px;
    height: 304px;
    margin: 0 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/tour/tour-02.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tour/tour-02.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tour/tour-02.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tour/tour-02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .tours .austrailia {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 236px;
    height: 304px;
    margin: 0 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/tour/tour-03.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tour/tour-03.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tour/tour-03.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tour/tour-03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .tours h1 {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    font-size: 60px;
    font-weight: lighter;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: center; }
  .tours h2 {
    color: #ffffff;
    margin-top: -20px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    text-transform: lowercase;
    text-align: center; }
  .tours .israel-button {
    width: 133px;
    height: 40px;
    margin-left: 30px;
    border-radius: 25px;
    display: inline-block;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 10px;
    background-color: #79addc;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center; }
  .tours .usa-button {
    width: 133px;
    height: 40px;
    margin-left: 10px;
    border-radius: 25px;
    display: inline-block;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 10px;
    background-color: #79addc;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center; }
  .tours .aus-button {
    width: 133px;
    height: 40px;
    margin-left: 100px;
    border-radius: 25px;
    display: inline-block;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 10px;
    background-color: #79addc;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center; }

@media (max-width: 875px) {
  .tours {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px; }
    .tours .israel {
      width: 100%;
      height: 220px; }
    .tours .usa {
      width: 100%;
      height: 220px;
      margin-top: 10px; }
    .tours .austrailia {
      width: 100%;
      height: 220px;
      margin-top: 10px; }
    .tours h1 {
      margin-top: 20px; }
    .tours h2 {
      margin-bottom: 10px; } }

.book-form {
  width: 810px;
  height: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .book-form .form h1 {
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    font-weight: 100; }
  .book-form .form p {
    display: inline-block;
    text-align: left;
    float: left;
    font-size: 15px;
    margin-top: 35px;
    margin-botton: 50px;
    color: #000000; }
  .book-form .form .adult {
    display: inline-block;
    font-size: 15px;
    margin-right: 90px;
    color: #000000;
    float: left; }
  .book-form .form .child {
    display: inline-block;
    font-size: 15px;
    margin-right: 40px;
    color: #000000;
    float: left; }
  .book-form .form .room {
    display: inline-block;
    font-size: 15px;
    color: #000000;
    float: left; }
  .book-form .form .text1 {
    width: 344px;
    height: 58px;
    margin: 10px 0px;
    font-size: 15px;
    padding: 20px;
    float: left;
    border: 1px solid #79addc; }
    .book-form .form .text1::-webkit-input-placeholder {
      color: #000000;
      font-family: "Lato", sans-serif; }
    .book-form .form .text1:-ms-input-placeholder {
      color: #000000;
      font-family: "Lato", sans-serif; }
    .book-form .form .text1::-ms-input-placeholder {
      color: #000000;
      font-family: "Lato", sans-serif; }
    .book-form .form .text1::placeholder {
      color: #000000;
      font-family: "Lato", sans-serif; }
  .book-form .form .text2 {
    width: 453px;
    height: 58px;
    margin: 10px 0px;
    font-size: 15px;
    padding: 20px;
    float: right;
    border: 1px solid #79addc; }
    .book-form .form .text2::-webkit-input-placeholder {
      color: #000000;
      font-family: "Lato", sans-serif; }
    .book-form .form .text2:-ms-input-placeholder {
      color: #000000;
      font-family: "Lato", sans-serif; }
    .book-form .form .text2::-ms-input-placeholder {
      color: #000000;
      font-family: "Lato", sans-serif; }
    .book-form .form .text2::placeholder {
      color: #000000;
      font-family: "Lato", sans-serif; }
  .book-form .form .dates {
    width: 698px;
    height: 58px;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 50px;
    display: inline;
    float: right;
    padding: 20px;
    font-family: "Lato", sans-serif;
    background: url(../images/calendar.svg) no-repeat right 20px center;
    background-size: 18.99px;
    border: 1px solid #79addc; }
  .book-form .form .selector {
    width: 103px;
    height: 58px;
    font-size: 15px;
    margin-top: 15px;
    margin-right: 90px;
    float: left;
    padding: 20px;
    font-family: "Lato", sans-serif;
    background: url(../images/down-arrow.svg) no-repeat right 10px center;
    background-size: 18.99px;
    border: 1px solid #79addc; }
  .book-form .form .selector3 {
    width: 103px;
    height: 58px;
    font-size: 15px;
    margin-top: 15px;
    float: right;
    padding: 20px;
    font-family: "Lato", sans-serif;
    background: url(../images/down-arrow.svg) no-repeat right 10px center;
    background-size: 18.99px;
    border: 1px solid #79addc; }
  .book-form .form .message {
    width: 818px;
    height: 192px;
    margin-top: 15px;
    padding: 20px;
    resize: none;
    font-size: 18px;
    color: #000000;
    font-family: "Lato", sans-serif;
    border: 1px solid #79addc; }
  .book-form .form .submit-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 818px;
    height: 60.59px;
    border-radius: 75px;
    margin-top: 30px;
    background-color: #79addc;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Lato", sans-serif; }

@media (max-width: 875px) {
  .book-form {
    width: 90%;
    height: 1000px; }
    .book-form .form {
      resize: vertical;
      width: 100%; }
      .book-form .form .text1 {
        width: 100%; }
      .book-form .form .text2 {
        width: 100%;
        float: left; }
      .book-form .form .dates {
        width: 100%;
        float: right; }
      .book-form .form .adult {
        float: left;
        margin-right: 2%; }
      .book-form .form .room {
        float: left;
        margin-right: 2%; }
      .book-form .form .child {
        position: static;
        float: left;
        margin-right: 2%; }
      .book-form .form .selector {
        float: left;
        position: static;
        width: 20%;
        margin-right: 1%; }
      .book-form .form .selector3 {
        width: 20%;
        float: left;
        margin-right: 0; }
      .book-form .form .message {
        width: 100%; }
      .book-form .form .submit-button {
        width: 100%; } }

@media (max-width: 500px) {
  .book-form {
    height: 1000px; } }

@media (max-width: 300px) {
  .book-form {
    height: 1100px; }
    .book-form .adult {
      float: left;
      margin-right: 1%; }
    .book-form .room {
      margin-right: 1%; }
    .book-form .child {
      margin-right: 1%; }
    .book-form .selector {
      margin-right: 1%; }
    .book-form .selector3 {
      margin-right: 0; } }

.footer {
  background-color: #79addc;
  width: 100%;
  height: 100px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer .copy-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .footer .copy-right .logo {
      width: 92px;
      height: 42px;
      font-size: 20px;
      color: #ffffff;
      border: 2px solid #ffffff;
      text-align: left;
      line-height: 60px;
      float: left; }
    .footer .copy-right p {
      color: #ffffff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 12px;
      margin-top: 13px;
      margin-right: 30%;
      margin-left: 30%;
      text-align: center; }
    .footer .copy-right img {
      margin-top: 10px;
      margin-right: 20px;
      float: right; }

@media (max-width: 1280px) {
  .footer {
    width: 100%; }
    .footer .copy-right p {
      margin-right: 20%;
      margin-left: 20%; }
    .footer .copy-right img {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

@media (max-width: 875px) {
  .footer .copy-right p {
    margin-right: 10%;
    margin-left: 10%; } }

@media (max-width: 600px) {
  .footer .copy-right .logo {
    height: 60px; }
  .footer .copy-right p {
    margin-right: 1%;
    margin-left: 1%; } }
