* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.inputs {
  height: 400px;
  width: 1280px;
  margin: 0 auto;
  background-color: $site-pink;
  padding: 50px;

  input {
    width: 529px;
    height: 60px;
    font-size: 16px;
    padding-left: 20px;
    color: $site-white;
    border: 1px solid $site-purple;
    background-color: #f56b88;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $site-white;
    }
  }
}
