.upcoming-events {
  height: 320px;
  margin: 0 auto;
  background-color: $site-purple;

  .event-container {
    .title {
      text-transform: uppercase;
      color: white;
    }

    .underline {
    }
  }
}
