.book-form {
  width: 810px;
  height: 800px;
  margin: 0 auto;
  display: flex;

  .form {
    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 60px;
    }

    p {
      display: inline-block;
      text-align: left;
      float: left;
      font-size: 18px;
      margin-top: 35px;
      margin-botton: 50px;
      color: $site-black;
    }

    .adult {
      display: inline-block;
      font-size: 18px;
      margin-right: 90px;
      color: $site-black;
      float: left;
    }

    .child {
      display: inline-block;
      font-size: 18px;
      margin-right: 40px;
      color: $site-black;
      float: left;
    }

    .room {
      display: inline-block;
      font-size: 18px;
      color: $site-black;
      float: left;
    }

    .text1 {
      width: 344px;
      height: 58px;
      margin: 10px 0px;
      font-size: 18px;
      padding: 20px;
      float: left;
      border: 1px solid $site-blue;

      &::placeholder {
        color: $site-black;
        font-family: "Amatic SC", cursive;
      }
    }

    .text2 {
      width: 453px;
      height: 58px;
      margin: 10px 0px;
      font-size: 18px;
      padding: 20px;
      float: right;
      border: 1px solid $site-blue;

      &::placeholder {
        color: $site-black;
        font-family: "Amatic SC", cursive;
      }
    }

    .dates {
      width: 698px;
      height: 58px;
      font-size: 18px;
      margin-top: 15px;
      margin-bottom: 5px;
      margin-left: 50px;
      display: inline;
      float: right;
      padding: 20px;
      font-family: "Amatic SC", cursive;
      background: url(../images/calendar.svg) no-repeat right 20px center;
      background-size: 18.99px;
      border: 1px solid $site-blue;
    }

    .selector {
      width: 103px;
      height: 58px;
      font-size: 18px;
      margin-top: 15px;
      margin-right: 90px;
      float: left;
      padding: 20px;
      font-family: "Amatic SC", cursive;
      background: url(../images/down-arrow.svg) no-repeat right 10px center;
      background-size: 18.99px;
      border: 1px solid $site-blue;
    }

    .selector3 {
      width: 103px;
      height: 58px;
      font-size: 18px;
      margin-top: 15px;
      float: right;
      padding: 20px;
      font-family: "Amatic SC", cursive;
      background: url(../images/down-arrow.svg) no-repeat right 10px center;
      background-size: 18.99px;
      border: 1px solid $site-blue;
    }

    .message {
      width: 818px;
      height: 192px;
      margin-top: 18px;
      padding: 20px;
      resize: none;
      font-size: 18px;
      color: $site-black;
      font-family: "Amatic SC", cursive;
      border: 1px solid $site-blue;
    }

    .submit-button {
      display: flex;
      width: 818px;
      height: 60.59px;
      border-radius: 75px;
      margin-top: 30px;
      background-color: $site-blue;
      justify-content: center;
      padding: 15px;
      text-decoration: none;
      font-size: 20px;
      color: $site-white;
    }
  }
}
