.france_image {
  display: flex;
  flex-direction: column;
  width: 1020px;
  height: 413px;
  margin: 0 auto;
  margin-top: -70px;
  background-image: linear-gradient(
      to right,
      rgba($site-black, 0.3),
      rgba($site-black, 0.3)
    ),
    url("../images/tour/tour-05.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h1 {
    font-size: 80px;
    color: $site-white;
    font-weight: lighter;
    margin-left: 20px;
    margin-top: 30px;
  }

  p {
    font-size: 30px;
    color: $site-white;
    text-align: right;
    margin-top: 230px;
    margin-right: 20px;
  }
}

@media (max-width: 1280px) {
  .france_image {
    width: 80%;

    p {
      text-align: left;
      margin-top: 0px;
      margin-left: 20px;
    }
  }
}

@media (max-width: 875px) {
  .france_image {
    width: 100%;

    p {
      text-align: left;
      margin-top: 0px;
      margin-left: 20px;
    }
  }
}
