* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

.inputs {
  height: 400px;
  width: 1280px;
  margin: 0 auto;
  background-color: #ee4367;
  padding: 50px; }
  .inputs input {
    width: 529px;
    height: 60px;
    font-size: 16px;
    padding-left: 20px;
    color: #fff;
    border: 1px solid #540d6e;
    background-color: #f56b88; }
    .inputs input:focus {
      outline: none; }
    .inputs input::-webkit-input-placeholder {
      color: #fff; }
    .inputs input:-ms-input-placeholder {
      color: #fff; }
    .inputs input::-ms-input-placeholder {
      color: #fff; }
    .inputs input::placeholder {
      color: #fff; }

.hero-wrapper {
  width: 100%;
  height: 500px;
  background-color: #ffd140; }
  .hero-wrapper .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 209, 64, 0.8)), to(rgba(255, 209, 64, 0.8))), url("../images/home-hero.jpg");
    background-image: -webkit-linear-gradient(left, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url("../images/home-hero.jpg");
    background-image: -o-linear-gradient(left, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url("../images/home-hero.jpg");
    background-image: linear-gradient(to right, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url("../images/home-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .hero-wrapper .hero .call-out {
      margin-top: 50px;
      width: 416px;
      min-height: 200px;
      text-align: center; }
      .hero-wrapper .hero .call-out h1 {
        color: #fff;
        font-size: 40px;
        font-family: "Times New Roman", Times, serif; }
      .hero-wrapper .hero .call-out .l-imp {
        color: #ee4367;
        margin-bottom: 35px;
        font-style: italic;
        font-size: 20px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
      .hero-wrapper .hero .call-out .desc {
        color: #fff;
        margin-bottom: 35px;
        font-style: italic;
        font-size: 20px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
      .hero-wrapper .hero .call-out .site-button {
        padding: 10px 25px;
        background-color: #ee4367;
        text-decoration: none;
        color: #fff; }

nav {
  width: 980px;
  height: 92px;
  border-bottom: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  nav .logo {
    width: 92px;
    height: 42px; }
  nav .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: lowercase; }
    nav .links a {
      color: #fff;
      font-size: 15px;
      text-decoration: none; }
    nav .links span {
      margin: 0 10px;
      color: #ee4367;
      font-size: 20px; }

.quote {
  height: 300px;
  width: 1280px;
  margin: 0 auto;
  background-color: aqua; }
  .quote .quote-content {
    width: 360px; }

.upcoming-events {
  height: 320px;
  margin: 0 auto;
  background-color: #540d6e; }
  .upcoming-events .event-container .title {
    text-transform: uppercase;
    color: white; }
